*{
margin: 0;
padding: 0;
user-select: none;
box-sizing: border-box;
}

body{
background-color: cornflowerblue;
justify-content: center;
align-items: center;
display: flex;
min-width: 100vh;
min-height: 56vh;
}

.box{
    background-color: lightcyan;
padding-top: 20px;
padding: 20px;
}
.box h2{
    margin-bottom: 25px;
    text-align: center;
    font-size: 36px;
    color: darkolivegreen;
    font-weight: 500px;
    font-family: cursive;
}

input{
    padding-left: 25px;
    padding: 5px;
    user-select: none;
    width: 94%;
    border-radius: 5px;
    border: 2px solid rgb(13, 152, 245);
    font-size: 15px;
}
input:placeholder{
font-size: 28px;
}
#button{
   font-family: cursive;
   font-size: 15px;
   margin-top: 25px;
   border: 2px solid rgb(13, 152, 245);
   width: 150px;
   align-items: center;
    color: rgb(94, 42, 8);
    background-color: skyblue;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;

}

.button2{
margin-left: 24px;
justify-content: center;
align-items: center;
}

#button:hover{
    color: aliceblue;
}

.options{
    padding-top: 15px;
    font-family: cursive;
}
